.all {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: 13% 4% 3% auto 1% 18%; 
}

div { /* Границы всех Дивов что только есть*/
    border: 1px solid rgba(0, 0, 0, 0);
}

.footer-hr{
    width: 113%;
    margin-left: -7%;
    display: grid;
    margin-top: 1%;
}

.helperSearch input{
width: 32%;
}  

.return{
    width: 33px;
}

.misPanel-hr {
    display: grid;
    margin: 3px 5px 7px;
    width: 85%;
    background-image: radial-gradient(farthest-side at 50% -50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    position: relative;
    border: none;
}

.header_no_rules {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 10px;
    padding-top: 2%;
    background-color: rgba(220, 220, 235, 0.603);
    position: relative;
    width: 100%;
}

.relogin{
    display: grid;
    justify-items: end;
}

.no_rules_choice{
    display: grid;
    grid-template-columns: 40% 10% 10% 40%;
    height: 5%;
    justify-content: start;
}

.header {
    display: grid;
    background-color: rgba(220, 220, 235, 0.247);
    grid-template-columns: 23% 50% 27%;
}

body {
    display: grid;
    height: auto;

}

.iframe-body{
    background-color: rgba(255, 255, 255, 0);
 } 

.Right_head {
    justify-content: end;
    display: grid;
    height: 80%;
    
}

.knowledge {
    justify-content: center;
    align-content: center;
    display: grid;
    height: 80%;
    width: auto;
}

.MisPanel {
    width: 100%;
    justify-content: center;
    padding-top: 0.3%;
}

.MD {/*шрифт в кнопке медклауд*/
    width: 100px;
    height: 60px;
    font-weight: 700;

}

.quick_transition {
    display: grid;
    padding: 2%;
    height: 100%;

}

.quick_transition input {
    width: 60%;
    height: 75%;
}

.body {
    display: grid;
    grid-template-columns: 13% 57% 30%;
    height: 100%;
}

.lmenu {
    /* background-color: rgb(230, 230, 230); */
    padding: 15px;
    display: grid;
}

.rmenu {
    border: 3px solid rgba(0, 255, 221, 0.356);
    display: grid;
    height: 100%;
    /* background-color: rgba(230, 230, 230); */
}

.container {
    display: grid;
}

.no_rules_pictures{
    display: grid;
    justify-content: center;
}

.no_rules_pictures img{
    width: 100%;
    height: 100%;
}

.folders{
    height: 300px;
}

iframe {
    width: 98%;
    height: 95%;
    margin: 1%;
    border: 0px;
}

/*****************************************/

.docs {
    height: 300px;
    width: 100%;
    margin: 3px;
}

.allAutorize {
    display: grid;
    justify-content: center;
    margin-top: 5%;
    grid-template-rows: 40% 50% 10%;
}

.autorize {
    display: grid;
    border: 1px solid rgba(0, 225, 255, 0.062);
    justify-content: center;
    margin-top: 50%;
}

.autorize input {
    margin-left: 2%;
    border: 1px solid #f19426;
    background: linear-gradient(90deg, rgb(0, 238, 255), rgb(0, 179, 185));
    
}

.allAutorize img {
    display: grid;
    width: 180px;
    height: 156px;    
    padding-top: -20px;
}

.autorize form{
    margin-top: 20px;
}

.autorize a{
    height: 156px;
}

.logo_messendger{
height: 20px;
width: 20px;
}
.logo_messendger_user_card{
    width: 35px;
    height: 35px;
}
h2{
    color: #000;
}

.user_card_photo{
    width: 100%;
    max-width: 200px;
}

.footer {
    display: grid;
    align-content: start;
    justify-content: end;
    bottom: 10;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 20% 40%;
    max-height: 110px;
}

.clock {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    font-size: calc(24px+16*(100vw));
    padding-right: 10px;
    padding-top: 20px;
}

.refresh{
    justify-self: center;
    align-items: center;
}

.refresh img{
    width: 60px;
    height: 60px;
}

input[name="newsheader"]{
    height: 10%;
    width: 55%;
    margin-bottom: 5px;
}

textarea[name="body"] {
    border: 1px solid rgb(0, 255, 221);
    background-color: #eaf5e5;
    height: 180px;
    width: 90%;
}
textarea[name="news"] {
    border: 1px solid rgb(0, 255, 221);
    background-color: #eaf5e5;
    height: 180px;
    width: 90%;
}

label {
    font-size: 12px;
    color: rgb(37, 37, 37);
}

.taskadd {
    margin: 1% 0% 0% 1%;
}

.taskheader {
    justify-content: center;
}

.sms {
    color: rgb(212, 22, 22);
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

.message {
    border: #ff0000;
    font-weight: 800;
}

a{
    text-decoration: none;
}

.No_rules_plz_autorization{
    color: #f12626;
    font-size: large;
    text-align: center;
}
.ink{
   text-align: center;
   color: #818181;
   font-size: small;
}
.ink img{
    width: 24px;
    height: 24px;
}
.LogoAutorization{
    padding-bottom: 10px;
}

form .settings{
margin-top: 1px;
}

table{
    border: 3px solid rgba(109, 109, 109, 0.432);
    background-color: rgba(0, 0, 0, 0.103);
    justify-self: center;
} 

.personal_face{
    width: 60px;
    height: 90px;
}

caption {
    font-family: annabelle, cursive;
    font-weight: bold;
    font-size: 1.25em;
    padding: 10px; 
    color: #1b1b1b;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
   }

/* -------------------КАРТОЧКА КЛИЕНТА ТАБЛИЦА-------------*/

   .user_card_table{
    border: 2px solid rgb(150, 150, 150);
    width: 80%;
    height: 50%;

}
th{
    border: 1px solid #000;
}

.user_card{
    width: 70%;
    height: 700px;
    justify-self: center;
}


/* -------------------Добавления таблицы-------------*/
.addUser{
    width: 80%;
    justify-self: center;
}

.card{

    color: rgb(17, 17, 17);
}


.addUserCard{
    width: 50%;
    justify-self: center;
    margin-top: 5%;
    margin-left: 22%;
}
input{
    width: 175px;
}
select{
    width: 175px;
}

/*  Изменение цвета текста в плейс холдере для разных браузеров.

Современные браузеры 
   ----------------------------  */
input::placeholder {
    color: #444444b6;
}

/* WebKit, Edge
      ----------------------------  */
input::-webkit-input-placeholder {
    color: #444444b6;
}

/* Edge
      ----------------------------  */
input::-ms-input-placeholder {
    color: #444444b6;
}

/* Firefox 4-18
      ----------------------------  */
input:-moz-placeholder {
    color: #444444b6;
}

/* Firefox 19+
      ----------------------------  */
input::-moz-placeholder {
    color: #444444b6;
}

/* IE 10-11
      ----------------------------  */
input:-ms-input-placeholder {
    color: #444444b6;
}
