.addtask{
    border-radius: 12px;
    height: 22px;
      width: 22px;
      border-color: rgba(120, 137, 175, 0.767);
    }
    .addtask:hover{
      
      border-radius: 12px;
      height: 22px;
        width: 22px;
        border-color: rgb(214, 219, 230);
      }

      .transition {
        transition: 0.3s;
      }

      .addtask_user{
        border-radius: 12px;
        height: 30px;
          width: 40px;
          border-color: rgba(99, 228, 196, 0.767);
        }
        .addtask_user:hover{
          border-radius: 12px;
          height: 30px;
            width: 80px;
            border-color: rgba(53, 76, 206, 0.411);
            background-color: #48ff0034;
          }


.cancel{
background-color: #ff5252;
width: 55%;
}

.create{
  background-color: #519e87;
  color: #000000;
  height: 35px;
  width: 85px;
}

.download_photo{
  background-color: aqua;
}

.no_rules_choice button{
  height: 50px;
  width: 100px;
}

.folders button {
  border-color: rgb(255, 255, 255);
  border-radius: 7px;
  height: 15%;
  width: 25%;
  margin-bottom: 3px;
}

.helperSearch button{
  width: 7%;
}

.link button {
  height: 8%;
  width: 13%;
}

.lmenu button {
  border-color: rgb(230, 153, 123);
  border-radius: 4px;
  min-width: 80%;
  margin: 1px;
  padding: 3px;
}

.lmenu button:hover {
  border-color: rgb(204, 130, 101);
  border-radius: 4px;
  min-width: 80%;
  margin: 1px;
  padding: 3px;
}

.MisPanel button {
    display: inline;
    text-align: center;
    border-color: rgb(230, 153, 123);
    min-width: 6.5%;
    padding: 2px;
}

.MisPanel button:hover {
    text-align: center;
    border-color:rgb(214, 118, 81);
    min-width: 6.5%;
    padding: 2px;
}

.document{
  background-color: rgb(45, 216, 29);
}

button {
  border-color: rgb(187, 167, 159);
  border-radius: 15px;
}

button:hover {
  border-color: rgb(153, 140, 135);
  border-radius: 15px;
}

.autorize button {
  height: 30px;
  margin-top: 10px;
  margin-left: 7%;
  background-color: #519e87;
  border-color: #f19426;
  border-radius: 11px;
  width: 150px;
}

.autorize button:hover {
  height: 30px;
  margin-top: 10px;
  margin-left: 7%;
  background-color: #1dd8a0;
  border-color: #c2863c;
  border-radius: 11px;
  width: 150px;
}

.input-file {
	position: relative;
	display: inline-block;
}

.input-file-btn {
position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 0 4px 4px 0;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #70a77b;
}
.input-file:active .input-file-btn {
	background-color: #89b390;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

.services button{
  background-color: #ece2e2;
  width: 100px;
  height: 100px;
}

.services img{
  width: 55px;
}