h1{
    text-align: center;
}
h2{
    background: linear-gradient(90deg, rgba(228, 228, 228, 0.623), rgba(216, 217, 218, 0));
}
h3{
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: Georgia;
}
p{
    background-color: rgba(231, 229, 218, 0.295);
}
.comment{
    height: 1px;
    margin-top: -10x;
    margin-bottom: -10px;
}
hr{
    height: 2px;
    background-color: rgba(105, 105, 105, 0.658);
}
.body{
    height: 1px;
    background-color: rgba(105, 105, 105, 0.336);
}
h4{
    margin-top: -15px;
}
.end_news{
    margin-top: -20px;
    height: 2px;
    background-color: rgb(0, 0, 0);
}
.body_topic{
    background-color: rgb(218, 218, 218);
}
.header_comments{
font-size: 12px;
font-weight: 500;
}
.allbody{
    background-color: rgba(255, 255, 255, 0.205);
    padding: 2%;
}
body {
    background: rgba(255, 255, 255, 0.445);
}

.box {
    margin: 5px;

    height: auto;
    background-color: rgba(202, 253, 255, 0.13);
    border-radius: 3px;
    padding: 0.5%;
    margin: 2%;
    width: 95%;
}
button {
    width: 95%;
    line-height: 15px;
    background-color: rgba(255, 246, 228, 0.342);
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 15px;
    margin-right: auto;
    
}
.addcom{
    background-color: black;
    width: 85px;
    height: 20px;
}
textarea{
    border: 0px;
    height: 15%;
    width: 96%;
    margin-left: 10px;
}
.shadow{
    color: rgba(0, 0, 0, 0.253);
    text-align: center;
}