body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.accordion__item {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}


.accordion-header {
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
   transition: background-color 0.2s ease-out; 
   height: 30px; 
  /* border: 1px solid #8f802b ; */
  display: flex;
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 25px;
  margin-left: auto;
  background-image: url("/file/icons/arrow.png");
  background-repeat: no-repeat;
  background-size: 0.75rem;
  content: "";
  transition: transform 0.2s ease-out;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
  transform: rotate(-180deg);
  color: #000000;
}





.accordion__item:not(.accordion__item_show) .accordion__header {
   border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; 
}

.accordion__content {
  padding: 0.25rem 0.5rem;
  background: rgb(255, 255, 255);

}

.accordion__content_close {
  padding: 0.25rem 0.5rem;
  background: rgb(153, 153, 153);

}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.nametasks{
  color: #202020;
}

.NoTask{
  
  font-weight: 700;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
}
.number{
  color:#ffffff;
  font-size: 12px;
  font-weight: 600;
}

.taskheader{
  display: grid;
  justify-content: center;
}

.owner{
  font-weight: 700;
  color: #914a4a;
}



form img{
  margin-left: 3px;
}

.status{
  font-weight: 600;
}
.priority{
  font-weight: 400;

}

body::-webkit-scrollbar {
  width:3px;  /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(92, 165, 161);        /* цвет дорожки */
  width: 3px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(140, 204, 209);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid rgba(0, 0, 0, 0.747);   /* padding вокруг плашки */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.accordion__item {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}
.creation_date{
  margin-left: 3px;
  font-size: 0.8rem;
  color: #1d1d1d;
  font-weight: 600;
}

            
              .prioritet-task0{
                color: #4d4d4d;
                font-weight: 400;
                font-size: 14px;
                align-items: end;
                margin-right: 5%;
              }
              .prioritet-task1{
                color: #56973c;
                font-weight: 500;
                font-size: 14px;
                /* margin-left: 5%; */
              }
              .prioritet-task2{
                color: #af6d37;
                font-weight: 500;
                font-size: 14px;
                /* margin-left: 5%; */
              }

.pictures-in-tasks{
  width: 80%;
}

.add-comments{
  width: 95%;
  margin: 5px;
  
}

.comments-block{
  background-color: rgb(241, 255, 255);
  border: 1px solid #00000046;
}
hr{
  margin-top: -2px;
}
 .end-comments{
width: 100%;
  border:2px solid #a7bbb8;
} 
.owner-comment{
  font-weight: 500;
  color: #4a8c91;
}
a{
  text-decoration: none;
}
.block-add-comments{
  background-color: rgba(165, 204, 204, 0.699);
}