body{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.774);
}
.full-page{
    /* text-align: center; */
    width: 80%;
    height: 80%;
    border: 2px solid #fff;
    margin-left: 10%;
     color: rgb(116, 176, 228);
}
.block-todo-task{
    text-align: start;
    border: 2px solid rgba(255, 255, 255, 0.178);
}
a{
    color: #fff;
}